# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Cython debug symbols
cython_debug/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

*.egg
MANIFEST

# pyCharm
.idea/

# IOS
.DS_Store
